/* Bank - ATM ======================================================================================================*/

.label-info .flex .icon-bank img {
  border-radius: var(--primary-border-radius);
  margin-right: 20px;
  margin-bottom: 4px;
  width: 70px;
  height: 70px;
}


/* Medical Center ==================================================================================================*/

.label-info .flex .icon-v2 i {
  width: 90px;
  height: 90px;
  font-size: 38px;
  background-color: var(--secondary-button-background);
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 6px;
  transition: 0.4s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-info:hover .flex .icon-v2 i {
  background-color: var(--icon-button-background);
}

.label-info .content-body .info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--secondary-text);
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.5;
}