.bookmarked-request-content {
  padding: 1.25rem;
}

.bookmarked-request-content .media {
  padding-right: 10rem;
}

.bookmarked-request-content .media .media-body>a {
  font-size: 1.125rem;
  font-weight: 400;
  color: #e4e6eb;
  margin-bottom: .25rem;
  display: block;
}

.bookmarked-request-content .media .media-body a:hover {
  color: #c7af8b;
  text-decoration: none;
}

.bookmarked-request-content .media .media-body .time {
  color: #b0b3b8;
  letter-spacing: 1px;
}

.bookmarked-request-content .media .media-body .time i {
  font-size: .85rem;
}

.bookmarked-request-content .media .media-body span {
  font-size: .85rem;
  margin-left: .25rem;
  font-weight: 500;
}

.bookmarked-request-content .media .media-body .tags {
  margin-top: .25rem;
}

.bookmarked-request-content .media .media-body .tags .tag {
  display: inline-block;
  margin-top: .35rem;
  margin-right: .15rem;
  padding: .2rem .75rem;
  border-radius: .75rem;
  text-transform: uppercase;
  color: #b0b3b8;
  border: 2px solid #3a3b3c;
  font-style: normal;
  font-weight: 700;
  font-size: .6rem;
  transition: .3s;
}

.bookmarked-request-content .media .media-body .tags .tag:hover {
  text-decoration: none;
  color: #e4e6eb;
  border: 2px solid #3a3b3c;
  background-color: #3a3b3c;
  cursor: pointer;
}

.bookmarked-request-content .price {
  position: absolute;
  right: 1.75rem;
  background-color: #3a3b3c;
  border-radius: .35rem;
  padding: .25rem .65rem;
  font-weight: 500;
  font-style: italic;
}

.bookmarked-request-content .media .media-body .action {
  margin-top: .8rem;
}

@media (max-width: 767.98px) {
  .bookmarked-request-content .media {
    padding-right: 0;
  }
  .bookmarked-request-content .price {
    display: none;
  }
}