body {
  font-size: .95rem;
  letter-spacing: .015rem;
  color: #e4e6eb;
  line-height: 1.55;
  font-weight: 400;
  height: 100vh;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.bg-dark {
  background-color: #18191a !important;
}

.bg-dark-ui {
  background-color: #242526 !important;
}

.highlight {
  color: #e4e6eb;
}

.border-ui {
  border-radius: .55rem;
}

.text-tan {
  color: #c7af8b !important;
}

.text-violet {
  color: #9360f7 !important;
}

.text-pink {
  color: #e87093 !important;
}

.text-slate-blue {
  color: #6a5acd !important;
}

.text-sea-green {
  color: #3cb371 !important;
}

.text-tomato {
  color: #f18072 !important;
}

.highlight-s {
  width: 80%;
  background: linear-gradient(to right, #c7af8b 0%, #c7af8b 15%, #c7af8b 35%, #c7af8b 50%, #c7af8b 85%, #ffc107 90%, #c7af8b 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: color-text 15s linear infinite;
}

@keyframes color-text {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 300px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.container {
  padding-top: 10rem;
}

@media (max-width: 991.98px) {
  .container {
    padding-top: 9.5rem;
  }
}

@media (max-width: 575.98px) {
  body {
    padding: 0 1rem 1rem;
  }
  .container {
    padding-top: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.nav-link {
  padding: .5rem;
}

.font-weight-500 {
  font-weight: 500;
}


/*----- Top bar -----*/

.top-header-bar {
  padding: 0 10px;
}

.top-header-bar ul .icon-size {
  width: 30px;
}

.top-header-bar ul {
  margin-bottom: 0;
  padding: 0;
}

.top-header-bar ul li {
  float: right;
  list-style: none;
}

.top-header-bar ul li a {
  color: #e4e6eb;
  padding: 8px 5px;
  display: block;
  font-size: .825rem;
}

.top-header-bar ul li a.hide {
  margin: 0 .25rem;
  color: #e4e6eb;
}

.top-header-bar ul li a:hover {
  color: #ffc107;
  text-decoration: none;
}

.top-header-bar .username,
.top-header-bar .token {
  display: flex;
  justify-content: space-between;
}

.top-header-bar .username,
.top-header-bar .token i {
  color: #dfdfdf;
  font-size: 1.1rem;
  padding: .25rem 1rem;
  font-weight: 400;
}

.top-header-bar .username,
.top-header-bar .token span {
  color: #dfdfdf;
  font-size: .9rem;
  padding: .25rem 1rem;
  font-weight: 400;
}


/* ----- Responsive for Top bar ----- */

@media (max-width: 991.98px) {
  .top-header-bar ul {
    margin-right: 0;
  }
  .top-left {
    display: none;
  }
  .top-right {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .top-header-bar ul li a.hide {
    margin: 0;
    padding: 8px 2px;
  }
}


/*----- Nav bar -----*/

.nav-bar {
  padding: .625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.nav-bar .px-c-4 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.nav-bar .navbar-nav {
  margin: auto;
  margin-right: 0;
}

.nav-bar .navbar-toggler {
  padding: 0;
  font-size: 1.15rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  color: #c7af8b;
}

.nav-bar .navbar-toggler:focus {
  outline: none;
}

.nav-bar .navbar-toggler i {
  color: #c7af8b;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-bar .navbar-brand a {
  color: #c7af8b;
  padding: 0 .65rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.55rem;
  font-style: italic;
}

.nav-bar .navbar-brand a:hover {
  color: #ffc107;
  text-decoration: none;
}

.nav-bar ul>li>a {
  color: #e4e6eb;
  font-size: 1rem;
}

.navbar-nav .nav-item .home,
.navbar-nav .nav-item .filter {
  padding: .45rem .75rem;
  border-radius: .5rem;
  margin-left: .75rem;
}

.navbar-nav .nav-item .home:hover,
.navbar-nav .nav-item .filter:hover {
  color: #ffc107;
  background-color: #3a3b3c;
}

@media (max-width: 575.98px) {
  .navbar-nav .nav-item .home,
  .navbar-nav .nav-item .filter {
    background-color: #3a3b3c;
  }
}


/*----- Dropdown -----*/

.nav-bar ul>li>a:hover {
  color: #ffc107;
}

.dropdown a i,
.nav-item a i {
  margin-right: .25rem;
}

.dropdown-toggle::after {
  vertical-align: .1em;
}

.dropdown-menu {
  top: 2px !important;
  background-color: #242526;
  border: 1px solid #3a3b3c;
  border-radius: .5rem;
  padding: .5rem 0;
  left: -1.2rem !important;
}

.dropdown-menu i {
  text-align: inherit;
  white-space: nowrap;
  margin-right: .5rem !important;
}

.dropdown-menu .dropdown-item {
  color: #dfdfdf;
  font-size: .9rem;
  padding: .35rem 1.75rem .35rem 1rem;
  font-weight: 400;
  transition: .3s;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  color: #ffc107;
  background-color: #333;
}

.dropdown-menu .dropdown-divider {
  border-top: 1px solid #444;
}

.top-header-bar .dropdown-menu .dropdown-item:focus,
.top-header-bar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  transform: translateX(.4rem);
}


/* ----- Responsive for Nav bar ----- */

@media (max-width: 991.98px) {
  .nav-bar {
    padding: 1rem .125rem;
  }
  .nav-bar .navbar-nav {
    margin-top: .75rem;
  }
  .nav-bar .navbar-brand {
    display: none;
  }
  .nav-bar .nav-link {
    padding: .35rem 2rem;
  }
  .navbar-nav .nav-item .home,
  .navbar-nav .nav-item .filter {
    width: 100%;
    margin-left: 0;
    margin-top: .75rem;
  }
  .navbar-nav .nav-item .btn-search-advanced {
    width: 100%;
    margin: .5rem 0;
  }
  .nav-bar .px-c-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .dropdown a i {
    margin-right: .5rem;
  }
  .top-header-bar .dropdown a i {
    margin-right: .2rem;
  }
  .dropdown-menu {
    right: auto !important;
    left: 1rem !important;
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
  }
}

@media (max-width: 991.98px) {
  .top-header-bar .dropdown-menu {
    left: -1.1rem !important;
  }
}


/* ----- Footer ----- */

#footer {
  font-size: .825rem;
  bottom: 0;
  margin-bottom: 1.5rem;
  padding: 0 15px;
  width: 100%;
}

#footer .f-bot {
  padding: 6px .25rem;
}

#footer .f-bot span {
  padding: 2px 0;
  display: inline-block;
}

#footer .f-bot .copyright {
  text-align: right;
}

@media (max-width: 767.98px) {
  #footer .f-bot .copyright {
    text-align: left;
  }
  #footer .f-top {
    padding: 3rem 0 2.5rem;
  }
  #footer .copyright {
    display: none;
  }
}


/* ----- Scroll bar ----- */

#page-top::-webkit-scrollbar-track {
  background-color: #18191a;
  border-radius: 0;
  border: 1px solid #242526;
}

#page-top::-webkit-scrollbar {
  width: .5rem;
  background-color: #242526;
}

#page-top::-webkit-scrollbar-thumb {
  background-color: #242526;
  border-radius: 0;
}

#style-tags::-webkit-scrollbar {
  height: 0;
}

#style-online::-webkit-scrollbar-track {
  background-color: #18191a;
  border-radius: .5rem;
  border: 1px solid #242526;
}

#style-online::-webkit-scrollbar {
  height: .4rem;
  background-color: #242526;
  border-radius: .5rem;
}

#style-online::-webkit-scrollbar-thumb {
  background-color: #242526;
  border-radius: 10px;
}


/* ----- Bootstrap component custom css ----- */


/* ----- Modal ----- */

.modal {
  padding: 0 !important;
}

.modal-dialog {
  max-width: 100%;
}

.modal-backdrop.show {
  opacity: .75;
}

.modal-content {
  border-radius: 0;
  background-color: #242526;
  border: none;
}

.modal-header {
  border-bottom: 1px solid transparent !important;
  padding: 1rem 1.25rem;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  border-top: 1px solid transparent;
  padding: 1rem 1.25rem 1.25rem 1.25rem;
}

.modal-header .close {
  font-size: 2rem;
  padding: .85rem 1rem;
  color: #d4d4d4;
  text-shadow: none;
}

.modal-header .close:hover {
  color: #c7af8b;
}

.modal-header .close:focus {
  outline: none;
}

.modal-body p {
  line-height: 25px;
}

@media (max-width: 575.98px) {
  .modal.show .modal-dialog {
    margin-left: 0;
    margin-right: 0;
  }
  .modal-body {
    max-height: 80vh;
    overflow-y: auto;
    padding: 0 2rem;
  }
}


/* ----- Modal info ----- */

#infoModal .modal-body h4 {
  font-size: 1.05rem;
  font-weight: 400;
  margin-top: 1.75rem;
  margin-bottom: 3rem;
}

#infoModal .modal-body p i {
  font-size: 12px;
}


/* ----- Button ----- */

.btn {
  line-height: 1.5;
}

.btn-sm {
  border-radius: .2rem;
  font-size: .85rem;
  padding: .275rem .9rem .3rem;
}

.btn-md {
  border-radius: .2rem;
  font-size: .95rem;
  padding: .35rem 1rem;
}

.btn-lg {
  border-radius: .25rem;
  font-size: .95rem;
  padding: .45rem 1.25rem;
}


/* ----- Col ----- */

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: .5rem;
  padding-left: .5rem;
}

.row {
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.container {
  padding-right: .5rem;
  padding-left: .5rem;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

pre {
  white-space: pre-wrap;
  font-size: .95rem;
  color: #bdbdbd;
  margin-bottom: 0;
  line-height: 1.55rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}