.right .create-request .create-request-form {
  padding: 1rem 1rem .25rem 1rem;
}

.right .create-request .create-request-form textarea.form-control {
  min-height: 12rem !important;
}

.right .create-request .create-request-form label {
  position: absolute;
  right: 1.65rem;
  top: 1.7rem;
  font-size: .9rem;
  color: #b0b3b8;
}

button.tag {
  display: inline-block;
  margin: .35rem .15rem;
  padding: .35rem 1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: #b0b3b8;
  border: 2px solid #3a3b3c;
  font-style: normal;
  font-weight: 700;
  font-size: .75rem;
  transition: .3s;
  background-color: transparent;
}

button.tag:last-child {
  margin-bottom: .5rem;
}

button.tag:focus {
  outline: none;
}

button.tag:hover {
  background-color: #3a3b3c;
}