/*----- Profile Section -----*/

.profile {
  padding: .65rem;
}

.profile .media {
  padding: .65rem;
  border-radius: .45rem;
  pointer-events: none;
  transition: .3s;
}

.profile .media:hover {
  background-color: #3a3b3c;
}

.profile .media .circle {
  border: 3px solid #28a745;
  border-radius: 50%;
  margin-right: .75rem;
  padding: .25rem;
}

.profile .media .avatar {
  border-radius: 50%;
  pointer-events: auto;
}

.profile .media .media-body a {
  color: #e4e6eb;
  font-size: 1.05rem;
  font-weight: 500;
  display: block;
  margin-top: .25rem;
  margin-bottom: .25rem;
  pointer-events: auto;
}

.profile .media .media-body a.username {
  font-size: .9rem;
  color: #b0b3b8;
  pointer-events: auto;
}

.profile .media .media-body a:hover {
  text-decoration: none;
}

.profile-info {
  padding: .65rem;
}

.profile-info ul.profile-information {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-info ul.profile-information li {
  padding: .5rem .65rem;
  color: #c7af8b;
}

.profile-info ul.profile-information li p {
  color: #e4e6eb;
  margin-bottom: 0;
}

.profile-info ul.profile-information li span {
  color: #c7af8b;
}


/*----- Sub menu -----*/

.sub-menu {
  padding: .65rem;
}

.sub-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sub-menu ul hr {
  margin-top: .65rem;
  margin-bottom: .65rem;
  border-top: 1px solid #3a3b3c;
}

.sub-menu ul li {
  list-style: none;
}

.sub-menu ul li a {
  color: #e4e6eb;
  padding: .5rem .65rem;
  display: block;
}

.sub-menu ul li a:hover {
  background-color: #3a3b3c;
  border-radius: .45rem;
  text-decoration: none;
}


/*----- Sub menu Section -----*/

.right .menu a {
  color: #e4e6eb;
}

.right .menu .nav-pills .nav-link {
  background-color: #242526;
  border-radius: .55rem;
}

.right .menu .nav-pills .nav-link:hover {
  background-color: #3a3b3c;
}

.right .menu .nav-pills .nav-link.active,
.right .menu .nav-pills .show>.nav-link {
  background-color: #3a3b3c;
}

.right .menu .nav-link {
  padding: .65rem 1rem;
}


/*----- Tab content -----*/

.right .label-info {
  padding: 1rem 1rem .75rem;
  height: 100%;
}

.right .label-info .flex {
  display: flex;
  justify-content: space-between;
}

.right .label-info .flex i {
  font-size: 2rem;
}

.right .label-info .flex h4 {
  margin: 0;
}

.right .label-info span {
  font-size: .95rem;
}

.right .label-info .flex svg {
  font-size: 1.95rem;
}

.right .label-info .flex .fix-height {
  height: 34px;
}

@media (max-width: 575.98px) {
  .right .label-info .flex h5 {
    font-size: 1.5rem;
  }
}

.right .quick-settings a {
  color: #b0b3b8;
  font-weight: 500;
  display: block;
  text-align: center;
  background-color: #242526;
  padding: .65rem 1rem;
}

.right .quick-settings a:hover {
  text-decoration: none;
  background-color: #3a3b3c;
}


/*----- Tab content ui -----*/

.right .tab-content .content {
  padding: 1rem;
  margin-bottom: 1rem;
}

.right .tab-content .title {
  font-size: 1.05rem;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}


/*----- Tab content - Profile -----*/


/*----- Tab content - Partner profile -----*/