.right .pay-in .pay-in-info ul li a {
  color: #e4e6eb;
  background-color: #242526;
}

.right .pay-in .pay-in-info ul li a:hover {
  text-decoration: none;
  background-color: #3a3b3c !important;
}

.right .pay-in .pay-in-info ul li a.active {
  background-color: #3a3b3c;
}

.right .tab-content .method-pay-in .method-pay-in-info {
  padding: 1rem 1rem .25rem 1rem;
}

.right .tab-content .method-pay-in .method-pay-in-info .nav-link {
  color: #e4e6eb;
  padding: .5rem 1rem;
  border-radius: .45rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #3a3b3c;
}

.right .tab-content .method-pay-in .method-pay-in-info .sms {
  background-color: #3a3b3c;
  padding: .75rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.right .tab-content .method-pay-in .method-pay-in-info .sms span {
  font-weight: normal;
  font-size: .95rem;
  margin: 0 .5rem;
}