.container {
  padding-top: 9.875rem;
}

@media (max-width: 991.98px) {
  .container {
    padding-top: 9.5rem;
  }
}

@media (max-width: 575.98px) {
  body {
    padding: 0 1rem 1rem;
  }
  .container {
    padding-top: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.site-header {
  width: calc(100% - 3rem);
  padding-top: 1.5rem;
  z-index: 1;
  position: fixed;
}

@media (max-width: 575.98px) {
  .site-header {
    position: relative;
    width: 100%;
  }
}


/*----- Navbar -----*/

.nav-bar .btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #3a3b3c;
  border-radius: 50%;
  margin-left: .35rem;
  margin-right: .35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: .3s;
}

.nav-bar .btn-icon .dropdown-toggle::after {
  display: none;
}

.nav-bar .btn-icon:hover {
  background-color: #4e4f50;
}

.nav-bar .btn-icon a {
  pointer-events: auto;
}

.nav-bar .btn-icon .icon {
  font-size: 1.125rem !important;
}

.nav-bar .btn-icon>a:hover {
  background-color: transparent !important;
}

.nav-bar .btn-icon .c-badge {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: #dc3545;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.nav-bar .btn-icon .dropdown-menu {
  top: 18px !important;
}

.nav-bar .btn-icon .dropdown-menu {
  padding: .6rem;
}

.nav-bar .btn-icon .dropdown-menu .dropdown-item {
  border-radius: .45rem;
  font-size: .95rem;
  padding: .45rem 3rem .45rem .65rem;
}

.nav-bar .btn-icon .dropdown-menu .dropdown-item:hover {
  background-color: #3a3b3c;
}

.nav-bar .btn-icon .dropdown-menu .dropdown-item i {
  margin-right: .75rem !important;
}


/*----- Profile -----*/

.profile {
  padding: .65rem;
}

.profile .media {
  padding: .635rem;
  border-radius: .45rem;
  pointer-events: none;
  transition: .3s;
}

.profile .media:hover {
  background-color: #3a3b3c;
}

.profile .media .circle {
  border: 3px solid #28a745;
  border-radius: 50%;
  margin-right: .75rem;
  padding: .25rem;
}

.profile .media .avatar {
  border-radius: 50%;
  pointer-events: auto;
}

.profile .media .media-body a {
  color: #e4e6eb;
  font-size: 1.05rem;
  font-weight: 500;
  display: block;
  margin-top: .25rem;
  margin-bottom: .25rem;
  pointer-events: auto;
}

.profile .media .media-body a.username {
  font-size: .9rem;
  color: #b0b3b8;
  pointer-events: auto;
}

.profile .media .media-body a:hover {
  text-decoration: none;
}

.profile-info {
  padding: .65rem;
}

.profile-info ul.profile-information {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-info ul.profile-information li {
  padding: .5rem .65rem;
  color: #c7af8b;
}

.profile-info ul.profile-information li p {
  color: #e4e6eb;
  margin-bottom: 0;
}

.profile-info ul.profile-information li span {
  color: #c7af8b;
}


/*----- Sidebar menu -----*/

.sidebar-menu {
  padding: .65rem;
}

.sidebar-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-menu ul hr {
  margin-top: .65rem;
  margin-bottom: .65rem;
  border-top: 1px solid #3a3b3c;
}

.sidebar-menu ul li {
  list-style: none;
}

.sidebar-menu ul li a {
  color: #e4e6eb;
  padding: .5rem .65rem;
  border-radius: .45rem;
  display: block;
}

.sidebar-menu ul li a:hover {
  background-color: #3a3b3c;
  text-decoration: none;
}


/*----- Sub menu pills -----*/

.right .menu a {
  color: #e4e6eb;
}

.right .menu .nav-pills .nav-link {
  background-color: #242526;
  border-radius: .55rem;
  font-weight: 500;
}

.right .menu .nav-pills .nav-link:hover {
  background-color: #3a3b3c;
}

.right .menu .nav-pills .nav-link.active,
.right .menu .nav-pills .show>.nav-link {
  background-color: #3a3b3c;
}

.right .menu .nav-link {
  padding: .65rem 1rem;
}


/*----- Tab content ui -----*/

.right .tab-content .content {
  padding: 1rem;
  margin-bottom: 1rem;
}

.right .tab-content .title {
  font-size: 1.05rem;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.right .tab-content .sub-title {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}


/*----- Label info -----*/

.right .label-info {
  padding: 1.25rem 1.25rem 1rem;
  height: 100%;
}

.right .label-info .flex {
  display: flex;
  justify-content: space-between;
}

.right .label-info .flex .icon i {
  font-size: 2rem;
}

.right .label-info .flex .icon svg {
  font-size: 2.125rem;
}

.right .label-info .flex .number h4 {
  margin: 0;
  font-weight: 400;
}

.right .label-info .description {
  margin-top: .75rem;
}

.right .label-info span {
  font-size: .95rem;
}


/*----- Quick action -----*/

.right .quick-action a {
  color: #b0b3b8;
  font-weight: 500;
  display: block;
  text-align: center;
  background-color: #242526;
  padding: .65rem 1rem;
}

.right .quick-action a:hover {
  text-decoration: none;
  background-color: #3a3b3c;
}


/*----- Form -----*/

.right form fieldset {
  border: 2px solid #3a3b3c;
  padding: 0 .75rem .5rem;
  border-radius: .45rem;
}

.right form fieldset legend {
  background-color: #242526;
  width: auto;
  max-width: 100%;
  font-size: .85rem;
  padding: 0 .5rem;
  border-radius: .45rem;
  margin-bottom: 0;
  font-weight: 500;
  color: #b0b3b8;
}

.right form fieldset .form-control {
  color: #e4e6eb;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 .5rem;
  height: calc(1em + .75rem + 2px);
}

.right form .form-control:disabled,
.right form .form-control[readonly] {
  background-color: transparent;
}

.right form fieldset .form-control:focus {
  color: #e4e6eb;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}