.right .tab-content .bank-card .bank-card-info {
  padding: 1rem 1rem .25rem 1rem;
}

.right .tab-content .withdraw .withdraw-info ul li a {
  color: #e4e6eb;
  background-color: #242526;
}

.right .tab-content .withdraw .withdraw-info ul li a:hover {
  text-decoration: none;
  background-color: #3a3b3c !important;
}

.right .tab-content .withdraw .withdraw-info ul li a.active {
  background-color: #3a3b3c;
}