#cover {
  padding: 40px 0 30px;
}

#products {
  padding-top: 40px;
  padding-bottom: 40px;
}

#products .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 12px 24px rgba(2, 30, 84, .15);
  margin-bottom: 24px;
}

#products .card img {
  border-radius: 10px 10px 0 0;
}

#products .card .card-body .name {
  font-size: 20px;
  margin-bottom: 8px;
}

#products .card .card-body .service {
  min-height: 102px;
}

#products .card .card-body .rate {
  font-size: 14px;
}

#products .card .card-body .rate .reviews {
  font-size: 13px;
  margin-left: 8px;
  color: #555;
  font-style: italic;
}

#products .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #eee;
}

#products .card .card-footer:last-child {
  border-radius: 0 0 10px 10px;
}