:root {
  --white: #ffffff;
  --tan: #c7af8b;
  --yellow: #ffcf5c;
  --warning: #ffc107;
  --orange: #fc643f;
  --aquamarine: #00c48c;
  --green: #03bb65;
  --info: #0dcaf0;
  --violet-blue: #4267b2;
  --blue: #0d6efd;
  --primary: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --violet-red: #cb1d5b;
  --danger: #dc3545;
  --red: #c72626;
}

.color-while {
  color: var(--white);
}

.color-yellow {
  color: var(--yellow);
}

.color-tan {
  color: var(--tan);
}

.color-orange {
  color: var(--orange);
}

.color-aquamarine {
  color: var(--aquamarine);
}

.color-violet-blue {
  color: var(--violet-blue);
}

.color-violet-red {
  color: var(--violet-red);
}

.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}