@import url("color.css");
body {
  font-size: 17px;
  line-height: 1.75;
}

#page {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: .5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-highlight-color);
  font-weight: 500;
  word-break: break-word;
  word-wrap: break-word;
}

.background-dark-1 {
  background-color: var(--background-color-1) !important;
}

.background-dark-2 {
  background-color: var(--background-color-2) !important;
}

.background-dark-3 {
  background-color: var(--background-color-3) !important;
}

.text-main {
  color: var(--text-color);
}


/*----- Nav bar -----*/

#menu {
  padding: 2rem 0 1rem;
}

#menu .navbar {
  padding: .5rem 0;
}

#menu .navbar.justify-content {
  justify-content: space-between !important;
}

#menu .site-branding a img {
  height: 60px;
  margin-top: -22px;
}

#menu .site-navigation.show ul {
  left: 0;
}

@media screen and (max-width: 991.98px) {
  #menu .site-navigation>ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    overflow-x: hidden;
    padding: 35px 20px;
    background: var(--background-color-2);
    transition: all 0.35s;
    z-index: 1;
  }
}

.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  justify-content: flex-end;
}

#menu .icon-bar {
  display: block;
  height: 2px;
  border-radius: 1px;
  background-color: var(--text-highlight-color);
  width: 35px;
  transition: all 0.25s ease;
}

#menu .icon-bar+.icon-bar {
  margin-top: 8px;
}

#menu .icon-bar:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: 90% 10%;
}

#menu .icon-bar:nth-child(2) {
  opacity: 0;
}

#menu .navbar-toggler {
  outline: none;
  padding: .25rem 0;
}

#menu .navbar-toggler:focus {
  box-shadow: none;
}

#menu .navbar-toggler.collapsed .icon-bar:nth-child(1) {
  transform: none;
}

#menu .navbar-toggler.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
}

#menu .navbar-toggler.collapsed .icon-bar:nth-child(3) {
  transform: none;
}

#menu .navbar-toggler .icon-bar:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: 90% 10%;
}

#menu .site-navigation ul li a:hover,
#menu .site-navigation ul li.active a {
  border: 2px solid var(--nav-link-border-color);
}

#menu .site-navigation .nav-item i {
  margin-right: 8px;
}

#menu .site-navigation ul li .nav-link {
  font-size: 17px;
  display: block;
  padding: 7px 12px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid transparent;
}

#menu .dropdown-menu {
  border-radius: 12px;
  background-color: var(--dropdown-background-color);
  border: 1px solid var(--dropdown-border-color);
}

#menu .dropdown-menu .dropdown-item {
  color: var(--dropdown-item-text-color);
  padding: 6px 30px 6px 18px;
  transition: .3s;
}

#menu .dropdown-menu .dropdown-item label {
  cursor: pointer;
  width: 100%;
}

#menu .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  transform: translateX(8px);
  color: var(--dropdown-item-text-color-hover);
  border: none;
}


/* ----- Footer ----- */

#footer {
  margin-top: 1.5rem;
}

#footer .container .d-flex {
  justify-content: space-between;
  background-color: var(--background-color-1);
  border-radius: var(--border-radius);
}

#footer .container .d-flex .left,
#footer .container .d-flex .right {
  padding: 10px 15px;
}


/* ----- Scroll bar----- */

#page-top::-webkit-scrollbar-track {
  background-color: #121212;
  border-radius: 0;
  border: 1px solid #1d1d1d;
}

#page-top::-webkit-scrollbar {
  width: .7rem;
  background-color: #1d1d1d;
}

#page-top::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 0;
}

#style-modal::-webkit-scrollbar-track {
  background-color: #1d1d1d;
  border-radius: .5rem;
  border: 1px solid #333;
}

#style-modal::-webkit-scrollbar {
  width: .55rem;
  background-color: #333;
  border-radius: .5rem;
}

#style-modal::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}


/* ----- Button scroll to top ----- */

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #ccc;
  background-color: #222;
  line-height: 38px;
  font-size: 22px;
  border-radius: 12px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #ffcf5c;
}

.scroll-to-top:hover {
  background-color: #333;
}

.scroll-to-top i {
  font-weight: 800;
}


/* ----- Bootstrap component custom css ----- */


/* ----- Modal ----- */

.modal-backdrop.show {
  opacity: .75;
}

.modal-header {
  border-bottom: 1px solid transparent;
}

.modal-header .close {
  padding: .75rem 1rem;
  color: var(--main-text-color);
  text-shadow: none;
}

.modal-header .close:hover {
  color: #ffcf5c;
}

.modal-header .close:focus {
  outline: none;
}

.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
  font-weight: 400;
}

.modal-body {
  padding: 1rem 1rem 0;
}

.modal-body h4 {
  font-weight: 400;
}

.modal-content {
  border-radius: 1rem;
  background-color: #222;
  border: none;
}

.modal-footer {
  border-top: 1px solid transparent;
}

.modal-body h4 {
  font-size: 18px;
  color: #ccc;
}

@media (min-width: 575.98px) {
  #logoutModal .modal-dialog {
    max-width: 500px;
  }
}


/* ----- About modal ----- */

#aboutModal .modal-body p i {
  font-size: 12px;
}

#aboutModal .modal-body p span {
  color: #ffcf5c;
}

@media (max-width: 575.98px) {
  #aboutModal .modal-body {
    max-height: 450px;
    overflow-y: auto;
  }
}


/* ----- Button ----- */

.toast {
  font-size: .925rem;
}

.toast-error {
  background-color: #dc3545;
  border-radius: 12px;
}

.toast-success {
  background-color: #28a745;
  border-radius: 12px;
}

.toast-body {
  padding: .75rem 1rem;
  color: #fff;
}

@media (max-width: 575.98px) {
  .toast {
    max-width: 300px;
  }
}


/* ----- Button ----- */

button:focus {
  outline: none;
}

.btn {
  line-height: 1.5;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-sm {
  border-radius: 8px;
  font-size: 15px;
  padding: 5px 14px;
}

.btn-md {
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 16px;
}

.btn-lg {
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 35px;
}

.btn-white {
  background-color: #f1f1f1;
  border: 1px solid #cccccc;
}

.btn-dark-2 {
  background-color: #222 !important;
  border: 1px solid #222 !important;
  color: var(--main-text-color) !important;
}

.btn-dark-3 {
  background-color: #333 !important;
  border: 1px solid #333 !important;
  color: var(--main-text-color) !important;
}

.btn-dark-4 {
  background-color: #444 !important;
  border: 1px solid #444 !important;
  color: var(--main-text-color) !important;
}

.btn-success {
  background-color: transparent !important;
  border: 2px solid var(--tan) !important;
  color: var(--tan) !important;
}

.btn-success:hover {
  color: #ffcf5c !important;
  background-color: #333 !important;
  border-color: #ffcf5c !important;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 207, 92, 0.25);
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 207, 92, 0.25);
}

.btn-light {
  background-color: transparent !important;
  border: 2px solid #fc643f !important;
  color: #fc643f !important;
}

.btn-light:hover {
  color: #fff !important;
  background-color: #fc643f !important;
}

.btn-white:hover,
.btn-dark-2:hover,
.btn-dark-3:hover,
.btn-dark-4:hover {
  color: #ffcf5c !important;
  box-shadow: 0 0 0 0.135rem rgba(253, 206, 92, 0.375);
}