:root {
  /* Common */
  --border-radius: 18px;
  /* Dark mode */
  --background-dark: rgb(0 0 0 / 80%);
  --background-dark-1: #1d2226;
  --background-dark-1-opacity: rgb(33 33 33 / 50%) !important;
  --background-dark-2: #3c4044;
  --background-dark-2-opacity: rgb(55 55 55 / 50%) !important;
  --background-dark-3: #000;
  --background-dark-3-opacity: rgb(77 77 77 / 50%) !important;
  --background-dark-sidebar-color: rgb(33 33 33 / 75%);
  --dark-text-highlight-color: #c7af8b;
  --dark-text-color: #e4e6eb;
  --dark-text-color-1: #fff;
  --dark-nav-link-border-color: var(--background-dark-2);
  --dark-dropdown-background-color: var(--background-dark-1);
  --dark-dropdown-border-color: var(--background-dark-2);
  --dark-dropdown-item-text-color: #ddd;
  --dark-dropdown-item-text-color-hover: #ffc107;
  /* Light mode */
  --background-light: rgb(255 255 255 / 40%);
  --background-light-1: #bfebf3;
  --background-light-1-opacity: rgb(255 255 255 / 60%) !important;
  --background-light-2: #fff;
  --background-light-2-opacity: rgb(255 255 255 / 80%) !important;
  --background-light-3: #fff;
  --background-light-3-opacity: rgb(255 255 255 / 90%) !important;
  --background-light-sidebar-color: rgb(255 255 255 / 75%);
  --light-text-highlight-color: #133996;
  --light-text-color: #222;
  --light-text-color-1: #65676b;
  --light-nav-link-border-color: var(--background-light-2);
  --light-dropdown-background-color: #eaf6fe;
  --light-dropdown-border-color: #bfbfbf;
  --light-dropdown-item-text-color: #050505;
  --light-dropdown-item-text-color-hover: #ffc107;
  /* Default mode */
  --background-color: var(--background-dark);
  --background-color-1: var(--background-dark-1);
  --background-color-1-opacity: var(--background-dark-1-opacity);
  --background-color-2: var(--background-dark-2);
  --background-color-2-opacity: var(--background-dark-2-opacity);
  --background-color-3: var(--background-dark-3);
  --background-color-3-opacity: var(--background-dark-3-opacity);
  --background-sidebar-color: var(--background-dark-sidebar-color);
  --text-highlight-color: var(--dark-text-highlight-color);
  --text-color: var(--dark-text-color);
  --text-color-1: var(--dark-text-color-1);
  --nav-link-border-color: var(--dark-nav-link-border-color);
  --dropdown-background-color: var(--dark-dropdown-background-color);
  --dropdown-border-color: var(--dark-dropdown-border-color);
  --dropdown-item-text-color: var(--dark-dropdown-item-text-color);
  --dropdown-item-text-color-hover: var(--dark-dropdown-item-text-color-hover);
}

.theme-switch {
  display: none;
}

.theme-switch:checked~#page {
  transition: .5s;
  --background-color: var(--background-light);
  --background-color-1: var(--background-light-1);
  --background-color-1-opacity: var(--background-light-1-opacity);
  --background-color-2: var(--background-light-2);
  --background-color-2-opacity: var(--background-light-2-opacity);
  --background-color-3: var(--background-light-3);
  --background-sidebar-color: var(--background-light-sidebar-color);
  --text-highlight-color: var(--light-text-highlight-color);
  --text-color: var(--light-text-color);
  --text-color-1: var(--light-text-color-1);
  --nav-link-border-color: var(--light-nav-link-border-color);
  --dropdown-background-color: var(--light-dropdown-background-color);
  --dropdown-border-color: var(--light-dropdown-border-color);
  --dropdown-item-text-color: var(--light-dropdown-item-text-color);
  --dropdown-item-text-color-hover: var(--light-dropdown-item-text-color-hover);
}